/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Tabs Styles */
.tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.tab-button {
  background-color: #fafcfd;
  color: hsl(211, 100%, 50%);
  border: 1px solid #007bff;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 5px;
}

.tab-button:hover {
  background-color: #dfefff;
}

.tab-button-selected {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 5px;
}
.tab-button-selected:hover {
  background-color: #0056b3;
}

/* Blocks Styles */
.block {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.block-header h2 {
  margin-bottom: 20px;
}

/* Form Styles */
label {
  display: block;
  margin-bottom: 10px;
}

.input-date,
#day-types,
#counter-types,
.dropdown-country,
.input-year {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/* Button Styles */
.btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
  width: 200px;
}

.btn:hover,
.btn:focus {
  background-color: #218838;
}

.preset {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.btn-preset7,
.btn-preset30 {
  background-color: #17a2b8;
  color: #fff;
  border: none;
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 10px;
}

.btn-preset7:hover,
.btn-preset30:hover {
  background-color: #138496;
}

/* Response and Table Styles */
.form1-response,
.form2-response {
  margin-top: 20px;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: auto;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  max-width: 230px;
  overflow: hidden;
}

th {
  background-color: #007bff;
  color: white;
}

.country-list {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  max-width: 460px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
  display: none;
}

.country-list.show {
  display: block;
}

.country-list li {
  padding: 10px;
  cursor: pointer;
}

.country-list li:hover {
  background-color: #f1f1f1;
}

/* add red boarder class for Date fields Tab1 */
